<script setup lang="ts">
import tabbar from '@/components/Tabbar/index.vue'
import NavBar from '@/components/NavBar/index.vue'
import { useCachedViewStoreHook } from '@/store/modules/cachedView'
import { useDarkMode } from '@/hooks/useToggleDarkMode'
import { computed } from 'vue'

const cachedViews = computed(() => {
  return useCachedViewStoreHook().cachedViewList
})
</script>

<template>
  <div class="app-wrapper">
    <van-config-provider :theme="useDarkMode() ? 'dark' : 'light'">
      <nav-bar />
      <router-view v-slot="{ Component }">
        <keep-alive :include="cachedViews">
          <component :is="Component" />
        </keep-alive>
      </router-view>
      <tabbar />
    </van-config-provider>
  </div>
</template>

<style lang="less" scoped>
@import url('@/styles/mixin.less');

.app-wrapper {
  .clearfix();

  position: relative;
  width: 100%;
  height: 100%;
}
</style>
